* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  height: 64px;
  padding: 18px 35px;
  background: #fd6e0a;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav h2 {
  font-weight: 800;
  font-size: 45px;
}
nav h2 span {
  color: orange;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
/* ! */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.banner-area h3 {
  font-size: 45px;
}
.banner-area h1 {
  font-size: 85px;
  margin-bottom: 30px;
}
.banner-area p {
  font-size: 18px;
  margin-bottom: 30px;
  width: 100%;
}
/* ! */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  margin-top: 120px;
  background-color: #fff8f3;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
}
.about h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
}
.about p {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-title h3 {
  font-size: 18px;
  font-weight: 400;
}
.info-title h4 {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
.doing {
  margin-top: 130px;
  text-align: center;
}
.doing h3 {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.doing p {
  margin: 0 90px;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 50px;
}
.service {
  display: flex;
  justify-content: space-between;
}
.single-service {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 25px 35px;
  gap: 20px;
}
.single-service img {
  margin-bottom: 30px;
}
.single-service h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* text-align: center; */
}
.single-service p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
/* ! */
.resume {
  margin-top: 130px;
}
.resume h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
  text-align: center;
  margin-bottom: 113px;
}
.resume-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.resume-title h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-item h5 {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-item h6 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
}
.resume-item p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}
.resume-content hr {
  border: 1px solid #ec0909;
  margin: 30px 0;
}
.resume-content button {
  text-align: center;
}
.resume-btn {
  margin-top: 50px;
  text-align: center;
}
/* ! */
.contact {
  margin-top: 113px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact input[type="text"],
[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  height: 64px;
  padding: 18px 30px;
}
.contact-area {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
